---
layout: default
---

<div class="home">

  <h1 class="page-heading">Notes &amp; <em>essays.</em></h1>
  <p class="home-intro">{{ site.description | strip_newlines }}</p>

  {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
    <section class="year-block">
      <div class="year">{{ year.name }}</div>
      <ul class="post-list">
        {% for post in year.items %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              <span class="post-meta">{{ post.date | date: "%b %d" }}</span>
              <span class="post-title-text">{{ post.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via <span class="fa fa-rss"></span> RSS</a></p>

</div>
