---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% assign currentYear = post.date | date: "%Y" %}
      {% assign lastIndex = forloop.index0 | minus: 1 %}
      {% assign lastYear = site.posts[lastIndex].date | date: "%Y" %}

      {% if forloop.index0 > 0 and lastYear != currentYear %}
        <hr class="separator"></hr>
      {% endif %}

      <li>
        <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
